<div class="contenedor-principal">
    <div class="contenedor-selector-filtro">
        <div class="contenedor-codigo">
            <label>Numero:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text"  [(ngModel)]='codigo' />
                <button class="btn btn-outline-danger input-group-append" (click)="codigo = ''"><fa-icon  [icon]="faTrash"></fa-icon></button>
            </div>
        </div>
        <div class="contenedor-alias">
            <label>Alias:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='alias'/>
                <button class="btn btn-outline-danger  input-group-append" (click)="alias = ''"><fa-icon  [icon]="faTrash"></fa-icon></button>
            </div>
        </div>
        <div class="documento">
            <label>Documento:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='documento'/>
                <button class="btn btn-outline-danger  input-group-append" (click)="documento = ''"><fa-icon  [icon]="faTrash"></fa-icon></button>
            </div>
        </div>
        <div class="localidad">
            <label>Localidad:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='localidad'/>
                <button class="btn btn-outline-danger  input-group-append" (click)="localidad = ''"><fa-icon  [icon]="faTrash"></fa-icon></button>
            </div>
        </div>
        <div class="activo" style="color: whitesmoke;">
            <label>Activo:</label>
            <div>
                <input type="checkbox" style="width: 38px;" [(ngModel)]='activo'>
            </div>
        </div>
    </div>
    <div class="contenedor-botonera">
        <button class="btn btn-outline-danger" class="btn btn-primary" (click)="actionBuscar()"> 
            <fa-icon  [icon]="faSearch">
            </fa-icon>
        </button>
    </div>
</div>