.contenedor-principal{
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 300px;
    border-radius: 0 0 5px 5px;
    padding: 5px 10px;
    background-color: #171010;
    width: 100%;

    .contenedor-selector-filtro{
        width: 100%;
        overflow-y: auto;
        height: 100%;
        display: flex;
        padding: 0 5px;
        gap: 5px;
        .btn-outline-danger:focus{
            box-shadow: none;
        }
        label{
            color: white;
        }
        .contenedor-checkbox{
            display: flex;
            justify-content: center;
            padding-top: 12px;
        }

    }
    .contenedor-botonera{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 5px;
        .btn-primary:focus{
            box-shadow: none;
            background-color: darkblue;
        }
        .btn-success:focus{
            box-shadow: none;
            background-color: green;
        }
    }
}