<div class="contenedor-principal">
    <div class="contenedor-inputs">
        <div class="contenedor-Numero">
            <label>Numero:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='clientePadre.numero' />
            </div>
        </div>
        <div class="contenedor-nombre">
            <label>Nombre:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='clientePadre.nombre' />
            </div>
        </div>
        <div class="contenedor-alias">
            <label>Alias:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='clientePadre.alias' />
            </div>
        </div>
        <div class="contenedor-razon-social">
            <label>Razón Social:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='clientePadre.razon_social' />
            </div>
        </div>
        <div class="email">
            <label>Email:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='clientePadre.email' />
            </div>
        </div>
        <div class="contenedor">
            <div class="comercial">
                <label>Comercial:</label>
                <div class="contenedor-input input-group">
                    <input class="form-control" type="text" [(ngModel)]='clientePadre.comercial' />
                </div>
            </div>
            <div class="telefono">
                <label>Telefono:</label>
                <div class="contenedor-input input-group">
                    <input class="form-control" type="text" [(ngModel)]='clientePadre.telefono' />
                </div>
            </div>
            <div class="documento">
                <label>Documento:</label>
                <div class="contenedor-input input-group">
                    <input class="form-control" type="text" [(ngModel)]='clientePadre.documento' />
                </div>
            </div>
        </div>
        <div class="direccion">
            <label>Dirección:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='clientePadre.direccion' />
            </div>
        </div>
        <div class="contenedor">
            <div class="poblacion">
                <label>Población:</label>
                <div class="contenedor-input input-group">
                    <input class="form-control" type="text" [(ngModel)]='clientePadre.poblacion' />
                </div>
            </div>
            <div class="provincia">
                <label>Provincia:</label>
                <div class="contenedor-input input-group">
                    <input class="form-control" type="text" [(ngModel)]='clientePadre.provincia' />
                </div>
            </div>
            <div class="cp">
                <label>CP:</label>
                <div class="contenedor-input input-group">
                    <input class="form-control" type="text" [(ngModel)]='clientePadre.cp' />
                </div>
            </div>
        </div>
        <div class="notas">
            <label>Notas:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='clientePadre.notas' />
            </div>
        </div>
        <div class="activo">
            <label>Activo</label>
            <div class="form-check form-switch ">
                <input type="checkbox" class="form-check-input" [(ngModel)]='clientePadre.activo'>
            </div>
        </div>
    </div>
    <div class="botonera">
        <button class="btn btn-outline-success" (click)="crearCliente()">CREAR</button>
        <button class="btn btn-outline-info" (click)="modificarCliente()">MODIFICAR</button>
        <button class="btn btn-outline-danger" (click)="borrarCliente()">BORRAR</button>
        <button class="btn btn-outline-danger" (click)="cerrarCliente()">CERRAR</button>
    </div>
</div>