.contenedor-principal{
    height: 100%;
    overflow-y: hidden;
    display: grid;
    background-color: #362222;
    label{
        color: white;
    }
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
    .botonera{
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px
    }
}
