<div class="contenedor-principal">
   
    <div class="contenedor-Numero">
        <label>Numero:</label>
        <div class="contenedor-input input-group">
            <input class="form-control" type="text"  [(ngModel)]='tareaSvc.seleccionCliente.numero' />
        </div>
    </div>
    <div class="contenedor-nombre">
        <label>Nombre:</label>
        <div class="contenedor-input input-group">
            <input class="form-control" type="text"  [(ngModel)]='tareaSvc.seleccionCliente.nombre' />
        </div>
    </div>
    <div class="contenedor-alias">
        <label>Alias:</label>
        <div class="contenedor-input input-group">
            <input class="form-control" type="text" [(ngModel)]='tareaSvc.seleccionCliente.alias'/>
        </div>
    </div>
    <div class="contenedor-razon-social">
        <label>Razón Social:</label>
        <div class="contenedor-input input-group">
            <input class="form-control" type="text" [(ngModel)]='tareaSvc.seleccionCliente.razon_social'/>
        </div>
    </div>
    <div class="documento">
        <label>Documento:</label>
        <div class="contenedor-input input-group">
            <input class="form-control" type="text" [(ngModel)]='tareaSvc.seleccionCliente.documento'/>
        </div>
    </div>
    
    <div class="email">
        <label>Email:</label>
        <div class="contenedor-input input-group">
            <input class="form-control" type="text" [(ngModel)]='tareaSvc.seleccionCliente.email'/>
        </div>
    </div>
    <div class="contenedor">
        <div class="comercial">
            <label>Comercial:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='tareaSvc.seleccionCliente.comercial'/>
            </div>
        </div>
        <div class="telefono">
            <label>Telefono:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='tareaSvc.seleccionCliente.telefono'/>
            </div>
        </div>
    </div>
    <div class="direccion">
        <label>Dirección:</label>
        <div class="contenedor-input input-group">
            <input class="form-control" type="text" [(ngModel)]='tareaSvc.seleccionCliente.direccion'/>
        </div>
    </div>
    <div class="localidad">
        <label>Localidad:</label>
        <div class="contenedor-input input-group">
            <input class="form-control" type="text" [(ngModel)]='tareaSvc.seleccionCliente.localidad'/>
        </div>
    </div>
    <div class="contenedor">
        <div class="provincia">
            <label>Provincia:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='tareaSvc.seleccionCliente.provincia'/>
            </div>
        </div>
        <div class="cp">
            <label>CP:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='tareaSvc.seleccionCliente.cp'/>
            </div>
        </div>
    </div>
    <div class="notas">
        <label>Notas:</label>
        <div class="contenedor-input input-group">
            <input class="form-control" type="text" [(ngModel)]='tareaSvc.seleccionCliente.notas'/>
        </div>
    </div>
    <div class="activo" style="color: whitesmoke;">
        Activo
        <input type="checkbox" [(ngModel)]='tareaSvc.seleccionCliente.activo'>
    </div>
    <div class="botonera">
        <button class="btn btn-danger">BORRAR</button>
        <button class="btn btn-info">MODIFICAR</button>
        <button class="btn btn-success">CREAR</button>
        <button class="btn btn-danger botonCerrar" style="color: whitesmoke;" (click)="tareaSvc.mostrarCliente = false">CERRAR</button>
    </div>
</div>
